body {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-image: url("./bg-top.svg"), url("./bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top,left bottom;
 
  height: 100vh;
  width: 100vw;
  background-color: hsl(240, 78%, 98%);
  padding-bottom: 25.9px;
}

.img1 {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  height: 420px;
  width: 350px;
}

.img2 {
  margin-top: -30px;
  height: 264px;
  width: 280px;
}

.container2 {
  display: flex;
  justify-content: center;
  /* border: 2px solid violet; */
  width: 50vh;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.heading1 {
  display: flex;
  justify-content: center;
  color: hsl(233, 13%, 49%);
}

.container3 {
  display: flex;
  justify-content: center;
  /* border: 2px solid violet; */
  width: 50vh;
  height: 9vh;
  margin: auto;
  margin-top: 0px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.container4 {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid orange; */
  width: 140vh;
  height: 62vh;
  margin: auto;
  margin-top: 0px;
}

.sub-container1 {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 55.3vh;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  cursor: pointer;
}

.sub-container2 {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 55.3vh;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  cursor: pointer;
}

.sub-container3 {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 55.3vh;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  cursor: pointer;
}

.text1 {
  display: flex;
  justify-content: center;
  color: hsl(234, 14%, 74%);
}

.text2 {
  display: flex;
  justify-content: center;
  color: hsl(234, 14%, 74%);
}

.text3 {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 25px;
  color: hsl(233, 13%, 49%);
  font-weight: bolder;
}

.text4 {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: -50px;
  font-size: 55px;
  font-weight: bolder;
  color: hsl(232, 13%, 33%);
}

.text5 {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 120px;
  color: hsl(233, 13%, 49%);
  font-weight: bolder;
}

.text6 {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 25px;
  font-size: 55px;
  font-weight: bolder;
  color: hsl(232, 13%, 33%);
}

.text7 {
  display: flex;
  justify-content: center;
  color: yellowgreen;
  margin-bottom: auto;
  margin-top: 25px;
  color: hsl(233, 13%, 49%);
  font-weight: bolder;
}

.text8 {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  margin-top: -50px;
  font-size: 55px;
  font-weight: bolder;
  color: hsl(232, 13%, 33%);
}

.sub-container5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: -60px;
}

.text9 {
  display: flex;
  justify-content: center;
  color: hsl(233, 13%, 49%);
  font-weight: bolder;
  font-size: 15px;
}

.sub-container6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.text10 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 15px;
  color: hsl(233, 13%, 49%);
}

.sub-container7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: -60px;
}

.text11 {
  display: flex;
  justify-content: center;
  color: hsl(233, 13%, 49%);
  font-weight: bolder;
  font-size: 15px;
}

hr {
  width: 263px;
  margin: -3px auto;
  padding: 0px auto;
  border-color: hsl(240, 78%, 98%);
  justify-content: center;
  align-items: center;
}

.sub-container8 {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 35px;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a8a8db, #6762cc);
  color: white;
  font-weight: bolder;
  outline: none;
  border: none;
  cursor: pointer;
}

.sub-container9 {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  margin-bottom: 123px;
}

.sub-container10 {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a8a8db;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a8a8db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a8a8db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sub-container1:hover {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 61.5vh;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  background-color: #a8a8db;
  color: white;
}

.sub-container2:hover {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 61.5vh;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  background-color: #a8a8db;
  color: white;
}

.sub-container3:hover {
  display: flex;
  /* border: 2px solid green; */
  width: 50vh;
  height: 61.5vh;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  background-color: #a8a8db;
  color: white;
}

.btn:hover {
  background-image: linear-gradient(to right, white, white);
  color: #a8a8db;
}
